/*
    ============================================
    TASKBAR - DESKTOP STYLES
    ============================================
*/

/* Main Container */
.container {
	position: absolute;
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	border-top: 1px solid #3f3f3f;
	background-color: #212121;
	background-image: url('/images/darknoice.png');
}

/* Icon Container */
.iconContainer {
	display: flex;
	gap: 3px;
}

/* Icons & Interactive Elements */
.icon,
.dateIcons,
.language,
.microphone {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
}

.icon:not(:active) span {
	transition: all 0.1s ease-in-out;
}

.icon:hover,
.dateIcons:hover,
.language:hover,
.microphone:hover {
	background-color: #2e2e2e;
}

.icon:active span {
	transform: scale(0.8);
}

/* Date Icons */
.dateIcons {
	flex-direction: column;
	align-items: flex-end;
	font-size: 0.65rem;
}

.dateIcons p {
	font-weight: 600;
	font-size: 0.7rem;
}

/* Language */
.language p {
	padding-right: 3px;
	padding-left: 3px;
	font-weight: 400;
	font-size: 0.6em;
}

/* Microphone */
.microphone {
	color: #99ebff;
	font-size: 1rem;
}

/* Toolbar Container */
.toolbarContainer {
	position: absolute;
	right: 0;
	display: flex;
	gap: 3px;
	height: 41px;
	margin-right: 8px;
	color: #f9f9f9;
	font-size: 1.2rem;
}

/*
    ============================================
    TASKBAR - MOBILE STYLES
    ============================================
*/

@media (max-width: 880px) {
	/* Main Container */
	.container {
		position: relative;
		height: 55px;
		padding: 0 5px;
	}

	/* Icon Container */
	.iconContainer {
		gap: 2px;
	}

	/* Icons & Interactive Elements */
	.icon,
	.language,
	.microphone {
		padding: 6px;
		font-size: 0.9rem;
	}

	/* Date Icons */
	.dateIcons {
		padding: 4px 6px;
		font-size: 0.55rem;
	}

	/* Toolbar Container */
	.toolbarContainer {
		position: relative;
		gap: 2px;
		height: auto;
		margin-right: 0;
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	/* Icons & Interactive Elements */
	.icon,
	.language,
	.microphone {
		padding: 4px;
		font-size: 0.85rem;
	}
}
